[submodule "modules/sloth"]
	path = modules/sloth
	url = git@github.com:gtrabanco/sloth.git
	branch = master
[submodule "modules/secrets"]
	path = modules/secrets
	url = keybase://private/gtrabanco/secrets
	branch = master
