# START OF SLOTH GITIGNORE
.sloth_force_current_version
.sloth_update_available
.sloth_update_available_is_major
.sloth_updated
.marketplace_cache
.cached_github_api_calls
bin/semver
# END OF SLOTH GITIGNORE

*.lock.json
*.private*
known_hosts
*.log

# Ignoring Karabiner automatic backups
os/mac/karabiner/automatic_backup*

# Ignoreing files in secrets because its not neccessary to store those symlinks in the repository
os/mac/settings
ssh/config.d-enabled/*
!ssh/config.d-enabled/default
!ssh/config.d-enabled/multiplexer
!ssh/config.d-enabled/remote
shell/init-scripts/secrets_autoload
