[submodule "modules/sloth"]
	path = modules/sloth
	url = git@github.com:gtrabanco/sloth.git
	branch = master
[submodule "modules/secrets"]
	path = modules/secrets
	url = keybase://private/gtrabanco/secrets
	branch = master
[submodule "modules/raycast_commands"]
	path = modules/raycast_commands
	url = https://github.com/raycast/script-commands
[submodule "modules/dotbot"]
	path = modules/dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
	ignore = dirty
