# If you modify this execute `zimfw uninstall & zimfw install`
# zmodule spaceship-prompt/spaceship-prompt --name spaceship
zmodule zimfw/environment
zmodule zimfw/git-info
#zmodule zimfw/history
#zmodule gtrabanco/zsh-history
zmodule zimfw/input
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zimfw/completion

zhighlighters=(main brackets)
